@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap");

body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 200% 200%;
    animation: gradient 15s ease infinite;
    font-family: "Jetbrains Mono", serif !important;
}

@keyframes gradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}
